@model MVC.DTOs.EspecieDTO

@{
    ViewData["Title"] = "Details";
}

<h1>DETALLES</h1>

<div>
    <h4>ESPECIE</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCientifico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCientifico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoMinimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoMinimo) KG
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoMaximo) 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoMaximo) KG
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongitudMinima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongitudMinima) CM
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongitudMaxima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongitudMaxima) CM
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenEspecie)
        </dt>
        <dd class = "col-sm-10">
            <img src="/img/especies/@Model.ImagenEspecie" height="70" />
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
