@model IEnumerable<MVC.Models.EcosistemaViewModel>

@{
    ViewData["Title"] = "Index";
}

<style>
    .my-div {
        /* Estilo de Bootstrap para un botón */
        margin: 10px;
        padding: 5px 10px;
        border: 1px solid #007bff;
        color: #fff;
        display: inline-block;
        text-decoration: none; /* Elimina el subrayado del enlace */
        text-white;
    }

        .my-div a {
            text-decoration: none; /* Asegúrate de que el enlace dentro del div también esté sin subrayar */
        }
</style>

<h1>ECOSISTEMAS</h1>

<h3>@ViewBag.Error</h3>

@if (Context.Session.GetString("nombre") != null){ 

    <p>
        <a class="btn btn-secondary" asp-action="Create">NUEVO ECOSISTEMA</a>
    </p>
 }
<span class="text-danger">@ViewBag.Error</span>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ecosistema.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ecosistema.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ecosistema.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ecosistema.Longitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ecosistema.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ecosistema.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenEcosistema)
            </th>
            <th>
                
            </th>

            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Ecosistema.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Ecosistema.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ecosistema.Latitud)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Ecosistema.Longitud)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Ecosistema.Area)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Ecosistema.Descripcion)
            </td>
                <td>
                    <img src="/img/ecosistemas/@item.Ecosistema.NombreImagenEcosistema" height="70" />
                </td>
            <td>
                <div class="my-div">
                        @Html.ActionLink("AMENAZAS", "AmenazasDelEcosistema", new {  idEcosistema=item.Ecosistema.Id })
                </div>
            </td>
            
        @if (Context.Session.GetString("rol") != null){ 
            <td>
                        <form asp-action="Borrar" method="post">
                        <input type="hidden" name="id" value="@item.Ecosistema.Id" />
                        <input type="submit" value="BORRAR" class="btn btn-danger" onclick="return confirm('¿Estás seguro que quieres eliminar este ecosistema?');" />
                        </form>

                        @Html.ActionLink("ASIGNAR AMENAZAS", "AsignarAmenazaAUnEcosistea", new { IdEcosistema=item.Ecosistema.Id })
                
            </td>
        }
        </tr>
}
    </tbody>
</table>
